
@font-face {
    font-family: AmiriWeb;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/amiri-regular.eot?') format('eot'),
         url('../fonts/amiri-regular.woff2') format('woff2'),
         url('../fonts/amiri-regular.woff') format('woff'),
         url('../fonts/amiri-regular.ttf')  format('truetype');
}

@font-face {
    font-family: Amiri QuranWeb;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/amiri-quran.eot?') format('eot'),
         url('../fonts/amiri-quran.woff2') format('woff2'),
         url('../fonts/amiri-quran.woff') format('woff'),
         url('../fonts/amiri-quran.ttf')  format('truetype');
}

@font-face {
    font-family: Amiri Quran ColoredWeb;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/amiri-quran-colored.eot?') format('eot'),
         url('../fonts/amiri-quran-colored.woff2') format('woff2'),
         url('../fonts/amiri-quran-colored.woff') format('woff'),
         url('../fonts/amiri-quran-colored.ttf')  format('truetype');
}

@font-face {
    font-family: AmiriWeb;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/amiri-bold.eot?') format('eot'),
         url('../fonts/amiri-bold.woff2') format('woff2'),
         url('../fonts/amiri-bold.woff') format('woff'),
         url('../fonts/amiri-bold.ttf')  format('truetype');
}