$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import 'amiri';

$font-quran: "Amiri QuranWeb", sans-serif;
$font-arabic: "AmiriWeb", sans-serif;

.header {
  @extend .jumbotron;
  padding: 10%;
  background-color: #556270;
  color: white;
  margin: 0;
  text-align: center;
  position: relative;
}

.subheader {
  background-color: #B4C1C2;
  height: 1em;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.subsubheader {
  background-color: #CDE5E5;
  height: 1em;
  width: 100%;
  bottom: 0;
  padding: 0;
  margin: 0;
  z-index: 2;
}

.core {
  min-height: 100%;
  margin-bottom: 50px;
}

.link-to-core {
  color: white;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  
  :hover {
    
  }
}

.ayah-txt, .ayah-nbr-decorated {
  font-family: $font-quran;
  line-height: normal;
  display: inline;
}

.ayah-nbr-decorated {
  white-space: nowrap;
}

.tafseer {
  font-family: $font-arabic;
  padding: auto 20px;
  
  .tafseer-text {
    font-size: 1.5em;
  }

  .tafseer-heading {
    font-size: 2em;
  }
}
